extends layout/layout.pug

block content
    .rasporka
    .rasporka
        nav
            ul.wrapper
                li.menu-item
                    a(href='#')
                        .fa.fa-home
                li.menu-item
                    a(href='#')
                        | О компании
                li.menu-item
                    a(href='#')
                        | Услуги
                li.menu-item
                    a(href='#')
                        | Клиентам
                li.menu-item.sub-menu
                    a(href='#')
                        | Отзывы
                        i.fa.fa-angle-down
                    ul
                        li
                            a(href='#')
                                | Product Item
                        li
                            a(href='#')
                                | Product Item
                        li
                            a(href='#')
                                | Product Item
                li.menu-item.sub-menu
                    a(href='#')
                        | Новости
                        i.fa.fa-angle-down
                    ul
                        li
                            a(href='#')
                                | Product Item
                        li
                            a(href='#')
                                | Product Item
                        li
                            a(href='#')
                                | Product Item
                li.menu-item
                    a(href='#')
                        | Контакты



