extends layout/layout
block variables
block content
    p.slogan
        | ЛЮБИТЬ
        span.slogan-description
            | В контактном зоопарке вас ждут пушистые кролики, забавные шиншилы#[br]
            | и яркие попугайчики. Еноты будут спать на руках ваших детей, а хорьки
            | поиграют с ними в прятки. Здесь не придется тянуться через решетку#[br]
            | к питомцам, а можно свободно и в свое удовольствие кормить их, гладить,
            | трогать и фотографировать !