header
    .top_line.clearfix
        a.logo-img(href='javascript:void(0);')
            img(src='img/logo.png', alt='')
        .logo
            .title_logo Центр
            .text_logo_color Кадастровых
            .text_logo Услуг
        .top_contacts
            .cont_block
                a.cont_phone(href='tel:+7 495 972-05-33')
                    img(src='img/tel.png', alt='Позвонить')
                    |                 +7 (967) 299-99-36
                .open_hours
                    | По будням с 09:00 до 20:00
                    br
                    | По выходным с 10:00 до 18:00
                a.call_back(href='#') Обратный звонок
        .top_address
            a.map_point(href='javascript:void(0);')
                img(src='img/point.png', alt='Позвонить')
                span.top_index Москва, 115191,
                span.link Схема проезда
                br
            .address Малая Тульская улица , 15А
            br
            a.top_mail_ico(href='mailto:info@texplan24.ru')
                img(src='img/envelop.png')
                .top_mail info@texplan24.ru
