menu
.container
    nav
        .hide-nav
            span.hide-nav__line.hide-nav__line--top
            span.hide-nav__line.hide-nav__line--middle
            span.hide-nav__line.hide-nav__line--bottom
        ul.nav_list
            li
                a(href='#') Главная
            =', '
            li
                a(href='#') Каталог
            =', '
            li
                a(href='#') О компании
            =', '
            li
                a(href='#') Контакты
            =', '
            li
                a(href='#') Мероприятия
            =', '
            li
                a(href='#') Портфолио
            =', '
            li
                a(href='#') Дирекция
            =', '





