menu
    nav
        .hide-nav
            span.hide-nav__line.hide-nav__line--top
            span.hide-nav__line.hide-nav__line--middle
            span.hide-nav__line.hide-nav__line--bottom
        .wrapper
            ul.menu-line
                li.menu-item-home
                    a(href='#')
                        img(src='img/home.png', alt='Позвонить')
                li.menu-item.sub-menu
                    a(href='#')
                        | О компании
                        i.fa.fa-angle-down
                    ul
                        li
                            a(href='#')
                                | Product Item
                        li
                            a(href='#')
                                | Product Item
                        li
                            a(href='#')
                                | Product Item
                li.menu-item.sub-menu
                    a(href='#')
                        | Услуги
                        i.fa.fa-angle-down
                    ul
                        li
                            a(href='#')
                                | Product Item
                        li
                            a(href='#')
                                | Product Item
                        li
                            a(href='#')
                                | Product Item
                li.menu-item.sub-menu
                    a(href='#')
                        | Клиентам
                        i.fa.fa-angle-down
                    ul
                        li
                            a(href='#')
                                | Product Item
                        li
                            a(href='#')
                                | Product Item
                        li
                            a(href='#')
                                | Product Item
                li.menu-item.sub-menu
                    a(href='#')
                        | Отзывы
                        i.fa.fa-angle-down
                    ul
                        li
                            a(href='#')
                                | Product Item
                        li
                            a(href='#')
                                | Product Item
                        li
                            a(href='#')
                                | Product Item
                li.menu-item.sub-menu
                    a(href='#')
                        | Новости
                        i.fa.fa-angle-down
                    ul
                        li
                            a(href='#')
                                | Product Item
                        li
                            a(href='#')
                                | Product Item
                        li
                            a(href='#')
                                | Product Item
                li.menu-item
                    a(href='#')
                        | Контакты
